attic
SD/html/index_orig.html
SD/html/lectionary-confguration-interface-25-10-2021.rar
libraries/GxEPD/GxGDEW042Z15/GxGDEW042Z15 - new palette (didn't look as good).cpp
libraries/RomanCalendar/Readme.txt
